[submodule "sputnikvm"]
	path = thirdparties/sputnikvm
	url = https://github.com/enigmampc/sputnikvm.git
	branch = develop
[submodule "thirdparties/etcommon-rs"]
	path = thirdparties/etcommon-rs
	url = https://github.com/enigmampc/etcommon-rs.git
[submodule "thirdparties/ethabi"]
	path = thirdparties/ethabi
	url = https://github.com/enigmampc/ethabi.git
